# Configurações do MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=ticket_discord

# Configurações da aplicação
PORT=3000
NODE_ENV=development

# Configurações do Discord
DISCORD_TOKEN=MTQwNTE1NjY4Nzk4NzM0NzQ3Ng.GuUAyl.3vAoKJuLdM-N93oDtyilV5Ffpf9MPvLNfDuf4Y
GUILD_ID=1405153240215195699
CLIENT_ID=1405156687987347476

# Configurações da Leadfy
LEADFY_WEBHOOK_URL=https://workflowinternal.leadfy.pro/webhook/241b97c5-f29c-4215-be94-531a4e490a7d
LEADFY_TOKEN=0GZf0zkLIR5RdK9goaFBrHRRZyvm4VplBtIABZ0q5clUg3H2h9XUiVwkVMhQfzbB
LEADFY_TIMEOUT=10000
LEADFY_RETRY_ATTEMPTS=3
LEADFY_CACHE_TTL=300000

# CONFIGURAÇÕES ESPECÍFICAS DAS EQUIPES
# ========================================
# IDs dos canais das equipes (opcionais - têm valores padrão)
SUPORTE_CHANNEL_ID=1405162714581438524
CS_CHANNEL_ID=1405162746122866798
TRAFEGO_CHANNEL_ID=1405162779299549234

# IDs dos cargos das equipes (opcionais - têm valores padrão)
SUPORTE_ROLE_ID=1405155398247252008
CS_ROLE_ID=1405155496704475187
TRAFEGO_ROLE_ID=1405155577134579742
